.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.color-box {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 10px auto;
  background: #f0f0f08c;
  width: 100%;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  width: 200px;
  border-radius: 12px;
  outline-style: none;
}

.heatmap {
  background-color: #d3d3d3;
  padding: 30px;
  margin: 10px;
  box-shadow: #9ca0a073 0 0 2px 4px;
}

h1 {
  padding: 20px;
}
